#!/bin/sh

# commands preloaded w/ default args
alias ls='ls -F --color'
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'
alias mkdir='mkdir -p -v'
alias emacs='emacs -nw'

# single letter shortcuts to core commands
alias a=''
alias b='bat'
alias c='cat'
alias d='dirs -v | head -10'
alias e=''
alias f='fzf'
alias g='git'
alias h=''
alias i=''
alias j=''
alias k=''
alias l='ls -F --color'
alias m='mkdir'
alias n='nnn -il'
alias o=''
alias p=''
alias q=''
alias r='rm'
alias s='sudo'
alias t='task'
alias u=''
alias v='nvim'
alias w=''
alias x=''
alias y='yarn'
alias z=''

# commands aliased to alternatives
alias vim='nvim'
alias git='hub'
alias yadm='hub --git-dir=/home/meatwallace/.yadm/repo.git'

# docker
# TODO

# facebook messenger
fbm() { messer "$@"; }
fbmc() { fbm --command="contacts"; }
fbmh() { fbm --command="history \"$1\" ${2:-10}"; }
fbmm() { contact="$1"; shift; message="$*"; messer --command="message \"$contact\" $message"; }
fbmr() { messer --command="reply \"$*\""; }
fbmrc() { messer --command="recent ${1:-10}"; }

# git
alias ga='git add .'
alias gc='git commit'
alias gca='git commit --amend'
alias gco='git checkout'
alias gd="git diff --color | sed 's/^\([^-+ ]*\)[-+ ]/\\1/' | less -r"
alias gf='git fetch'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gnb='git checkout -b'
alias gp='git push origin HEAD'
alias gpf='git push origin HEAD --force'
alias gs='git status -sb'

# soundcloud (tizonia)
alias scartist='tiz --soundcloud-creator'
alias sclikes='tizonia --soundcloud-user-likes'
alias scstream='tizonia --soundcloud-user-stream'
alias sclist='tizonia --soundcloud-user-playlist'

# spotify (tizonia)
alias spartist='tizonia --spotify-artist'
alias spalbum='tizonia --spotify-album'
alias splist='tizonia --spotify-playlist'
alias sptrack='tizonia --spotify-tracks'

# tmux
alias tm='tmux'
alias tmx='tmux new-session -d -s meatmux; tmux new-session -t meatmux \; set-option destroy-unattached || tmux new-session -t meatmux'
alias tma='tmux attach -t'
alias tmad='tmux attach -d -t'
alias tmls='tmux list-sessions'
alias tmksv='tmux kill-server'
alias tmkss='tmux kill-session -t'

# task(warrior)
alias t='task'
alias tadd='task add'
alias tactive='task active'
alias tappend='task append'
alias tdone='task done'
alias trm='task delete'
alias tedit='task edit'
alias tmod='task modify'
alias tstart='task start'
alias tstop='task stop'

# vim
alias vf='nvim $(fzf)'

# apps
alias code='code-insiders'

# shortcuts
alias chmox='chmod +x'                            # flags a file as executable
en() { awk '{printf "%s\\n", $0}' "$1"; }         # escapes newlines

# cli
alias shc="shellcheck"
alias shfc="shfmt"
alias rn='react-native'

# term
alias reload!='. "$HOME"/.profile'
alias cls='clear'

# ssh
# alias cpkey='copyq copy - < ~/.ssh/id_rsa.pub | echo 'Public key copied to pasteboard.''
