XTerm.termName: xterm-256color
XTerm.vt100.internalBorder: 16
XTerm.vt100.faceName: Fantasque Sans Mono:size=10:antialias=true
XTerm.vt100.font: 7x13

XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

! special
*.foreground:   #adc3d9
*.background:   #161719
*.cursorColor:  #2c8098

! black
*.color0:       #293345
*.color8:       #53668b

! red
*.color1:       #6677cc
*.color9:       #99aaff

! green
*.color2:       #4565ce
*.color10:      #6c82dc

! yellow
*.color3:       #3366cc
*.color11:      #6699ff

! blue
*.color4:       #567cce
*.color12:      #76a8f3

! magenta
*.color5:       #60a1da
*.color13:      #8cbeea

! cyan
*.color6:       #419ed0
*.color14:      #79bbdf

! white
*.color7:       #8ea4cc
*.color15:      #dde6f7

*.color16:       #81a1c1
*.color17:       #b48ead
*.color18:       #3b4252
*.color19:       #434c5e
*.color20:       #d8dee9
*.color21:       #eceff4
