'atom-workspace atom-text-editor':
  # default bindings, core list to learn while migrating to Atom
  # NOTE: cmd <> ctrl on your mac keymapping
  'cmd-d': 'find-and-replace:select-next'

  # custom
  'cmd-shift-g': 'github:toggle-git-tab'
  'cmd-shift-f': 'project-find:show',
  'cmd-shift-e': 'tree-view:toggle',
  'cmd-f': 'find-and-replace:show'

  # rebound default editor bindings
  'alt-up': 'editor:move-line-up'
  'ctrl-cmd-up': 'unset!'

  'alt-down': 'editor:move-line-down'
  'ctrl-cmd-down': 'unset!'

  'cmd-shift-up': 'editor:add-selection-above'
  'ctrl-shift-up': 'unset!'

  'cmd-shift-down': 'editor:add-selection-below'
  'ctrl-shift-down': 'unset!'  

  # unbound default editor bindings
  